body {
    background-color: rgb(255, 240, 220);
}

.table {
    background-color: #fff;
}

#encabezado {
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

.navbar {
    background-color: #c2492b;
}

.navbar-brand {
    font-size: 1.7rem;
    margin: 0.7rem;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #fd610d;
}

.nav-item {
    margin: 0.7rem;
    margin-left: 4rem;
    font-size: 1.3rem;
}

#pie {
    background-color: #262423;
    color: #fff;
    text-align: center;
    padding: 1em;
    clear: both;
}

a {
    text-decoration: none;
}

a.navbar-brand {
    color: #fff;
}
a.nav-link.active:hover {
    color: #2b49c2;
}
a.nav-link.active.logout:hover {
    color: rgb(175, 6, 6);
}
/* a:link {
    color: #000;
} */

/* a:visited {
    color: #fff;
} */

/* a:hover {
    color: #f00;
}

a:active {
    color: #2b49c2;
} */

h1 {
    font-size: 2rem;
}

#cuerpo {
    padding: 1rem;
}